body {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.card {
    width: 27vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    justify-content: space-between;
}
.card-img {
    width: 100%;
}
.card-title {
    font-size: 2.2rem;
    text-transform: uppercase;
}
.card-desc {
    font-size: 1.3rem;
}