body {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(231, 203, 165);
    font-family: 'Indie Flower', cursive;
}
.card {
    width: 25%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(205, 162, 122);
    justify-content: space-around;
    border: 3px black;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgb(103, 72, 51);
}
.card-img {
    width: 80%;
    height: 80%;
    width:  200px;
    height: 280px;
    object-fit: cover;
    border-radius: 13%;
}
.card-title {
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.card-desc {
    font-size: 1.3rem;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 10px;
}
.flex-containor{
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0%;
}
.header{
    margin-top: 20px;
}
h1{
    font-size:3.2rem;
    text-align: center;
    padding: 5px;
    border-style:solid;
    border-color: rgb(109, 113, 64);
    margin: 0 auto;
    border-radius: 20px;   
    border-width:3px;
    width: fit-content;
    height: fit-content;
}